<!DOCTYPE html>
<html>
  <head>
    <title>
    </title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.0.0/pixi.min.js" defer></script>
    <script src="js/pew.js" defer></script>
    <script src="js/bundle.js" defer></script>
  </head>
  <body>
    <canvas id="canvas" tabindex="1"></canvas>
  </body>
</html>
